.container
  .follow-container
    .row
      .col-md-6
        .panel.panel-default
          .panel-heading
            %p Stop Follow
          %table
            %thead
              %tr
                %td User
                %td Follow from
                %td
            %tbody
              - unless @foll.nil?
                - @foll.each do |f|
                  %tr
                    %td= f.username
                    %td= distance_of_time_in_words(Time.now - f.created_at)
                    %td
                      .button-group

      .col-md-6
        .panel.panel-default
          .panel-heading
            %p Only Followed by
          %table
            %thead
              %tr
                %td User
                %td Follow from
                %td
            %tbody
              - unless @foed.nil?
                - @foed.each do |f|
                  %tr
                    %td= f.username
                    %td= distance_of_time_in_words(Time.now - f.updated_at)
                    %td
                      .button-group
                        = link_to "like photos", "#",
                          method: :post, :class => "btn btn-primary"

