.container
    %br
    .row
        .col-md-3.col-md-offset-2
            = image_tag(@user.profile_picture, :class => "img-circle")
        .col-md-7
            %h3 #{@user.username}

            %p
                Post: #{@user.counts.media}
                Followed by: #{@user.counts.followed_by}
                Follows: #{@user.counts.follows}

    .row
        .col-md-5
            .panel.panel-default
                .panel-heading
                    %p User not follow you back
                %table
                    %thead
                        %tr
                            %td User
                            %td Follow from
                            %td
                            %td
                        %tr
                    %tbody
                        - unless @foll.nil?
                            - @foll.each do |f|
                                %tr
                                    %td= f.username
                                    %td
                                    %td= link_to "unfollow", unfollow_path(id: f.ins_id, name: f.username),
                                    method: :post, :class => "btn btn-danger"
                                    %td= link_to "Ok", wantFollow_path(id: f.ins_id), method: :post, :class => "btn btn-primary"
